# .env file
# THIS FILE IS FOR LOCAL DEVELOPMENT ONLY. ADD TO .gitignore!



# --- DATABASE CONFIGURATION ---
DB_USER=
DB_PASS=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=

# --- AUTHENTICATION & SECURITY ---
# This is the most critical secret after your DB password.
# It's used to sign and verify your JWTs. Make it long and random.
# Generate one with: openssl rand -hex 32
SECRET_KEY=

# The algorithm used to sign the JWTs.
ALGORITHM=

# How long an access token is valid for, in minutes.
ACCESS_TOKEN_EXPIRE_DAYS=
ACCESS_TOKEN_EXPIRE_MINUTES=


# --- CORS (Cross-Origin Resource Sharing) ---
# A comma-separated list of origins that are allowed to make requests to your API.
# For local development with a frontend on port 3000, for example:
CORS_ORIGINS=

# --- APPLICATION BEHAVIOR ---
# Set to "True" for local development to get detailed error pages.
# MUST be "False" in production on Render.
DEBUG_MODE=


DATABASE_URL=


# ASTERISK's AMI parameters
ASTERISK_HOST=
ASTERISK_PORT=
ASTERISK_USERNAME=
ASTERISK_PASSWORD=


#Twilio parameters
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

